#notification-icon {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 100%;
    padding: 30px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

#notification-icon:hover {
    cursor: default;
    box-shadow: 6px 6px #3477db;
    transition: 0.6s;
}

#notification-box {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}



#notification-box p {
    font-size: 20px;
    margin-bottom: 15px;
}



#close-btn-div
{
    padding-top: 20px;
}

#close-btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#codingButtons button {
    margin-right: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin: 5px;
}

#codingButtons button.selected {
    background-color: #2ecc71;
    color: #fff;
}