@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Varela+Round&display=swap');

body
{
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    background: #000f13;
    color: #fff;
    overflow-x: hidden;
}

header
{
    padding: 20px 0px;
    background: #8a2be2;
    align-items: center;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    align-items: center;
}

header #topT
{
    padding-left: 20px;
}

header h1
{
    /* grid-column: 1/7; */
    grid-column: span 6;
}

header nav
{
    padding-right: 20px;
    grid-column: 8 / span 5;
    justify-self: right;
}

header nav a
{
    text-decoration: none;
    color: #fff;
    margin-left: 15px;
    font-size: 25px;
}

/* START UNDERLINE EFFECTS */
.underline
{
    display: inline-block;
    padding-bottom: 1px;
    position: relative;
}
.underline::before
{
    content: "";
    position: absolute;
    /* left: 0; */
    right: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    background-image: linear-gradient(to right, #00ff00, #00ffff);
    background-color: #00ff00;
    transition: width 0.25s ease-out;
}
.underline:hover::before
{
    width: 100%;
    left: 0;
    /* right: 0; */
    right: auto;
}
/* END UNDERLINE EFFECTS */

.info h1
{
    text-align: center;
    grid-column: span 12;
}

.info p
{
    text-align: center;
    grid-column: span 12;
}

.info a
{
    color: #00ffff;
    text-decoration: none;
}

.info a:visited
{
    color: #00ffff;
    text-decoration: none;
}

main
{
    display: flex;
    justify-content: center;
}

main iframe
{
    width: 1000px;
    height: 1000px;
}


@media screen and (max-width: 900px) {
    header h1 {
        grid-column: span 12;
        text-align: center;
        margin: 0;
    }
    header nav {
        grid-column: span 12;
        justify-self: center;
        text-align: center;
    }
    header #topT
    {
        padding-left: 0;
    }

}